@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
--Moderate-violet: hsl(263, 55%, 52%);
--Verydark-grayishblue: hsl(217, 19%, 35%);
--Verydark-blackishblue: hsl(219, 29%, 14%);
--White: hsl(0, 0%, 100%);
--Light-gray: hsl(0, 0%, 81%);
--Light-grayishblue: hsl(210, 46%, 95%);
}

body {
    font-size: 13px;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: var(--Light-grayishblue);
    padding: 1.25rem;
}


img {
    max-width: 100%;
    border-radius: 100%;
}

.grid {
    display: grid;
    gap: 20px;
    grid-template-rows: auto;
    grid-template-columns: 1fr;
    margin: auto;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

ul {
     list-style: none;
     display: flex;
     align-items: center;
}

li:nth-child(2) {
    margin-left: 2em;
    color: white;
    font-size: 1.3em;
}

span {
    display: flex;
    opacity: 0.5;
    font-size: .9em;
}

.grid-item {
    border-radius: 12px;
    padding-right: 32px;
    padding-left: 32px;
    padding-top: 24px;
    padding-bottom: 24px;
    font-family: Barlow Semi Condensed,serif;
    font-size: 13px;
}

.grid-item h1 {
    color: white;
    margin-top: .8em;
    font-size: 20px;
}

.grid-item p {
    color: white;
    opacity: 0.5;
    font-size: 13px;
    margin-top: .7em;
    line-height: 1.4;
}

.daniel-card {
     background-color: var(--Moderate-violet);
}

.daniel-card img {
    border: 4px solid blue;
}

.patrick-card img {
    border: 4px solid var(--Moderate-violet);
}

.jonathan-card {
    background-color: var(--Verydark-grayishblue);
}

.jeanette-card, .kira-card {
    background-color: var(--White);
}

.jeanette-card li:nth-child(2), .kira-card li:nth-child(2) {
     color: var(--Verydark-grayishblue);
}

.jeanette-card h1, .kira-card h1 {
     color: var(--Verydark-grayishblue);
}

.jeanette-card p, .kira-card p {
    color: var(--Verydark-grayishblue);
    opacity: 0.8;
}
.patrick-card {
    background-color: var(--Verydark-blackishblue);
}

@media (min-width: 600px) {
    main {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 10em;
        min-height: 100vh;
    }
       .grid {
        display: grid;
        grid-template-rows: auto;
        grid-gap: 20px;
        grid-template-columns: repeat(4,1fr);
        margin: auto;
       }
       .daniel-card {
           grid-column: span 2;
       }
       .kira-card {
           grid-column-start: 4;
           grid-row-start: 1;
           grid-row-end: 3;
           
       }
       .patrick-card {
           grid-column: span 2;
       }
     
}

